@import 'source-code-pro/source-code-pro.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EBE5D0;
  --foreground: #71513C;
  --card: #ffffff;
  --card-foreground: #71513C;
  --popover: #ffffff;
  --popover-foreground: #71513C;
  --primary: #71513C;
  --primary-foreground: #EBE5D0;
  --secondary: #ECD5B3;
  --secondary-foreground: #8C5945;
  --muted: #B5C8C6;
  --muted-foreground: #71513C;
  --accent: #D4927D;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #ECD5B3;
  --input: #EBE5D0;
  --ring: #8C5945;
  --radius: 0.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
}